#live_div{
  margin-top: -10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}

#node_highlight{
  position: absolute;
  top: 49px;
  left: 0px;
}

#led_routine{
  position: absolute;
  top: 49px;
  left: 1131px;
}


body{
  margin-bottom: 0px;
  padding-bottom: -100px;
}